In [1]:
import pandas as pd
df=pd.read_excel(r"D:\github\pandas\output.xlsx",index_col="ID")
df.to_excel(r"D:\github\pandas\output.xlsx")
print("Done")

Done

In [86]:
import pandas as pd
fpath="./ml-latest-small/ratings.csv"
#使用pd.read_csv读取数据
ratings = pd.read_csv(fpath)
#查看前几行数据
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
#查看数据的形状，返回（行数，列数）
ratings.shape

(100836, 4)

In [7]:
#查看列名列表
ratings.columns

Index(['userId', 'movieId', 'rating', 'timestamp'], dtype='object')

In [8]:
#查看索引列
ratings.index

RangeIndex(start=0, stop=100836, step=1)

In [6]:
#查看每列的数据类型
ratings.dtypes

userId         int64
movieId        int64
rating       float64
timestamp      int64
dtype: object

1.2 读取txt文件，自己指定分隔符，列名

In [6]:
import pandas as pd
fpath="./crazyant/access_pvuv.txt"

In [7]:
pvuv=pd.read_csv(
    fpath,
    sep="\t",
    header=None,
    names=['pdate','pv','uv']
)

In [8]:
pvuv

        pdate   pv   uv
0  2019-09-10  138   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

2，读取excel文件

In [9]:
fpath="./crazyant/access_pvuv.xlsx"
pvuv=pd.read_excel(fpath)

In [10]:
pvuv

          日期   PV   UV
0 2019-09-10  138   92
1 2019-09-09  185  153
2 2019-09-08  123   59
3 2019-09-07   65   40
4 2019-09-06  157   98
5 2019-09-05  205  151
6 2019-09-04  196  167
7 2019-09-03  216  176
8 2019-09-02  227  148
9 2019-09-01  105   61

读取mysql 数据库

In [76]:
import pymysql
conn=pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='Zj@198108',
    database='test',
    charset='utf8'
)

In [77]:
mysql_page=pd.read_sql("select * from crazyant_pvuv",con=conn)

C:\Users\garfi\AppData\Local\Temp\ipykernel_2152\1383311596.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mysql_page=pd.read_sql("select * from crazyant_pvuv",con=conn)

In [74]:
mysql_page

          date   pv   uv
0   2019-09-10  138   92
1   2019-09-10  138   92
2   2019-09-10  138   92
3   2019-09-10  138   92
4   2019-09-10  138   92
5   2019-09-10  138   14
6   2019-09-09  121  114
7   2019-09-09  121  114
8   2019-09-09  121  114
9   2019-09-09  121  114
10  2019-09-09  121  114
11  2019-09-09  121  114

In [97]:
import pymysql

# 连接数据库
connection = pymysql.connect(
    host='127.0.0.1',
    user='root',
    password='Zj@198108',
    database='test',
    charset='utf8'
)

try:
    with connection.cursor() as cursor:
        # 插入单条数据
        sql = "INSERT INTO crazyant_pvuv (date,pv,uv) VALUES (%s,%s,%s)"
        cursor.execute(sql, ('2019-09-09','121','114'))
    
   
finally:
     # 提交事务
    connection.commit()

In [98]:
mysql_page=pd.read_sql("select * from crazyant_pvuv",con=connection)

C:\Users\garfi\AppData\Local\Temp\ipykernel_2152\3908297233.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  mysql_page=pd.read_sql("select * from crazyant_pvuv",con=connection)

In [99]:
mysql_page

          date   pv   uv
0   2019-09-10  138   92
1   2019-09-10  138   92
2   2019-09-10  138   92
3   2019-09-10  138   92
4   2019-09-10  138   92
5   2019-09-10  138   14
6   2019-09-09  121  114
7   2019-09-09  121  114
8   2019-09-09  121  114
9   2019-09-09  121  114
10  2019-09-09  121  114
11  2019-09-09  121  114
12  2019-09-09  121  114
13  2019-09-09  121  114
14  2019-09-09  121  114
15  2019-09-09  121  114
16  2019-09-09  121  114
17  2019-09-09  121  114
18  2019-09-09  121  114

In [100]:
connection.close()

In [101]:
import pandas as pd
import numpy as np

1 series是一种类似于一维数组的对象，它由一组数据（不同数据类型）以及一组与之相关的数据标签（即索引）组成。

In [103]:
s1 = pd.Series([1,'a',5.2,7])

In [104]:
s1

0      1
1      a
2    5.2
3      7
dtype: object

In [105]:
s1.index

RangeIndex(start=0, stop=4, step=1)

In [106]:
s1.values

array([1, 'a', 5.2, 7], dtype=object)

1.2 创建一个具有标签索引的Series

In [108]:
s2 = pd.Series([1,'a',5.2,7],index=['d','b','a','c'])

s2

1.3 使用python 字典创建Series

In [110]:
sdata={'0hio':35000,'Texas':72000,'Oregon':16000,'Utah':5000}

In [112]:
s3=pd.Series(sdata)

In [113]:
s3

0hio      35000
Texas     72000
Oregon    16000
Utah       5000
dtype: int64

1.4 根据标签索引查询数据
类似python的字典dict

In [116]:
s2

d      1
b      a
a    5.2
c      7
dtype: object

In [117]:
s2['a']

5.2

In [118]:
type(s2['a'])

float

In [119]:
s2[['b','a']]

b      a
a    5.2
dtype: object

In [121]:
type(s2[['b','a']])

pandas.core.series.Series