In [3]:
import pandas as pd
df=pd.read_excel(r"D:\github\pandas\output.xlsx",index_col="ID")
df.to_excel(r"D:\github\pandas\output.xlsx")
print("Done")

Done

In [8]:
fpath='./ant-learn-pandas-master/datas/ml-latest-small/ratings.csv'

In [9]:
#使用pd.read_csv读取数据
ratings=pd.read_csv(fpath)

In [11]:
pvuv=pd.read_csv(
    fpath,
    sep="\t",
    header=None,
    names=['padate','pv','uv'])
pvuv

                                 padate  pv  uv
0       userId,movieId,rating,timestamp NaN NaN
1                     1,1,4.0,964982703 NaN NaN
2                     1,3,4.0,964981247 NaN NaN
3                     1,6,4.0,964982224 NaN NaN
4                    1,47,5.0,964983815 NaN NaN
...                                 ...  ..  ..
100832        610,166534,4.0,1493848402 NaN NaN
100833        610,168248,5.0,1493850091 NaN NaN
100834        610,168250,5.0,1494273047 NaN NaN
100835        610,168252,5.0,1493846352 NaN NaN
100836        610,170875,3.0,1493846415 NaN NaN

[100837 rows x 3 columns]

In [6]:
import pandas as pd
d={'x':100,'y':200,'z':300}
s1=
print(d["x"])

100

In [12]:
fpath='./ant-learn-pandas-master/datas/crazyant/access_pvuv.xlsx'
pvuv=pd.read_excel(fpath)
pvuv

           日期   PV   UV
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98
5  2019-09-05  205  151
6  2019-09-04  196  167
7  2019-09-03  216  176
8  2019-09-02  227  148
9  2019-09-01  105   61

In [19]:
DataFrame.sort_values(by,ascending=True,inplace=False)

4.使用正则表达式的处理

In [14]:
#添加新列
def get_nianyueri(x):
    year,month,day=x['ymd'].split("-")
    return f"{year}年{month}月{day}日"
df["中文日期"]=df.apply(get_nianyeuri,axis=1)

NameError: name 'get_nianyeuri' is not defined

In [ ]:
df["中文日期"].str.replace("年","").str.replace("月","").str.replace("日"，"")

In [15]:
df.set_inde('id',inplace=True,drop=False)

AttributeError: 'DataFrame' object has no attribute 'set_inde'

In [2]:
import pandas as pd
data={
    "name":["Tom","Rose","Json"],
    "age":[12,21,23],
    "gender":["man","woman","man"]
}
#调用DataFrame方法
df=pd.DataFrame(data)
print(df)

   name  age gender
0   Tom   12    man
1  Rose   21  woman
2  Json   23    man

In [3]:
print(df.index)

RangeIndex(start=0, stop=3, step=1)

In [10]:
import pandas as pd
df=pd.read_csv("./ant-learn-pandas-master/datas/beijing_tianqi/beijing_tianqi_2018.csv")
df.set_index('ymd',inplace=True)
#将℃替换为空
df.loc[:,"bWendu"]=df['bWendu'].str.replace("℃","").astype("int32")
df.loc[:,"yWendu"]=df["yWendu"].str.replace("℃","").astype("int32")

In [11]:
print(df.head())

           bWendu yWendu tianqi fengxiang fengli  aqi aqiInfo  aqiLevel
ymd
2018-01-01      3     -6   晴~多云       东北风   1-2级   59       良         2
2018-01-02      2     -5   阴~多云       东北风   1-2级   49       优         1
2018-01-03      2     -5     多云        北风   1-2级   28       优         1
2018-01-04      0     -8      阴       东北风   1-2级   28       优         1
2018-01-05      3     -6   多云~晴       西北风   1-2级   50       优         1

In [15]:
#查询单个值
single= df.loc["2018-01-01",['bWendu',"yWendu"]]
print(single)

bWendu     3
yWendu    -6
Name: 2018-01-01, dtype: object

In [18]:
ser=df.loc[["2018-01-01","2018-01-02","2018-01-03"],["bWendu","yWendu"]]
print(ser)

           bWendu yWendu
ymd
2018-01-01      3     -6
2018-01-02      2     -5
2018-01-03      2     -5

(array([0, 1, 4], dtype=int64),)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

array([[[0.19088387, 0.35259672, 0.27238784],
        [0.55919469, 0.30752507, 0.26078981],
        [0.8552263 , 0.99741821, 0.91202211]],

       [[0.03924192, 0.47042925, 0.32653825],
        [0.25838202, 0.83548537, 0.15423674],
        [0.88396049, 0.39074961, 0.20280933]],

       [[0.86688832, 0.06347097, 0.65496387],
        [0.94233374, 0.79778621, 0.6035265 ],
        [0.65247629, 0.11952257, 0.21868683]]])